<!-- head -->
<%- include('./partials/head') %>
<!-- header -->
<%- include('./partials/header') %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br><br><br>
    <a href="/users/register">REGISTRARSE</a><br><br><br>
    <a href="/users/login">LOGUEARSE</a>
  </body>
</html>
