<header>
    <h1><a href="/movies/">Mis Peliculas</a></h1>
    <div>
        
        <form action="/movies/search" method="POST">
            <input type="search" placeholder="Buscar:" name="search">
        </form>

        <a href="/movies/create" >
            <button type="submit" value="crear"> Crear una Peli </button>
        </a>

        <a href="/movies/actorMovie" >
            <button type="submit" value="vincular"> Vincular una nueva actuacion </button>
        </a>


    </div>
</header>

