<%- include('./partials/head') %>
<body class="container">
    
<h2>Bienvenido a Ejercitación - M07C18 </h1>

    <div class="index">
        <a href="/movies" >Mis películas - CRUD y relaciones</a>
    </div>


</body>
<%- include('./partials/footer') %>